$design-color = #ed5a73;
$development-color = #F9B967;
$link-color = #BA6DDB;

.navigation-drawer .list
    padding: 0;

a
    text-decoration: none;

.vb--logo-container
    background: linear-gradient(to right, hsla(0,0%,0%,0) 0%,hsla(340,81%,67%,0.65) 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;

    .logo
        z-index: 2;
        margin-left: 12px;

    .list__tile__action
        z-index: 3;

    &:after
        background-image: url("../assets/nav-bg.png");
        background-size: cover;
        content: "";
        opacity: 0.75;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;

    .list a
        color: white!important;

.vb--logo-container .icon
    color: white!important;

    &:hover
        background: none;

.navigation-drawer > .list:not(.list--dense) .vb--logo-container .list__tile:hover
    background: none!important;

.list__tile__title
    text-transform: uppercase!important;
    font-size: 0.85rem;

.list__tile__action
    min-width: 40px;

aside.navigation-drawer
    border-left: 4px solid #ED5A73;
    background: #151030!important;

    .list
        background: #151030!important;

        .icon
            font-size: 1.5rem;
        .icon, a
            color: #4F306C;

    .list a.list__tile
        transition: all 0.3s ease;
        background: #151030;

    .list a:hover .icon
        color: #BA6DDB;

    .list a:hover .list__tile__title
        color: white;

.router-link-active .list__tile
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(125,52,80,0.65) 100%)!important;
    color: white!important;

.router-link-active .icon
    color: #BA6DDB!important;

.toolbar
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
    //border-bottom: 1px solid #d3d3d3;
    //box-shadow: none;

.tabs__slider
    height: 4px;

.toolbar__content
    height: 64px!important;

.vb--logo-container
    //background: lightgreen;
    height: 64px;
    display: flex;

    .list__tile
        margin-top: 8px;

    .list__tile__content
        overflow: inherit;

    img
        margin-top: 4px;
        width: 100px;

h1
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

.content--wrap
    background: url('../assets/trianglify.svg');
    background-size: cover;
    //background: hsla(255, 255, 5, 1);

.page
    padding: 1rem;

// cards
.btn .btn__content
.card__actions
    background: hsla(248, 95, 8, 1);
    padding: 4px 0;

    .btn__content
        font-size: 10px;
        font-weight: bold;

        .icon
            font-size: 18px;


.grey--text
    font-size: 12px;
    text-transform: uppercase;

.headline
    color: white;
    font-size: 15px!important;
    line-height: 1.5!important;
    font-weight: bold;
    transition:all 0.25s ease;
    text-transform: capitalize!important;

.design
    .btn__content
        color: $design-color;
    .headline:hover
        color: $design-color;

.development
    .btn__content
        color: $development-color;
    .headline:hover
        color: $development-color;

.card__title
    background: hsla(248, 47, 13, 1);

// pagination
.pagination__item--active.primary
    background: $link-color!important;

.resume
    h2
        font-size: 28px;
        line-height: 1;
    p
        font-size: 1.25rem;
        margin-bottom: 3rem;

    img
        max-width: 175px;
