.navigation-drawer .list
    padding: 0;

a
    text-decoration: none;


aside.navigation-drawer
    border-left: 4px solid #ED5A73;
    background: #151030!important;

    .list
        background: #151030!important;

        .icon, a
            color: #4F306C;


    .list a:hover .icon, .list a:hover .list__tile__title
        color: #BA6DDB;

.toolbar
    border-bottom: 1px solid #d3d3d3;
    box-shadow: none;

.tabs__slider
    height: 4px;


.vb--logo-container
    //background: lightgreen;
    height: 64px;
    display: flex;

    .list__tile
        margin-top: 8px;

    .list__tile__content
        overflow: inherit;

    img
        margin-top: 4px;
        width: 100px;