.navigation-drawer .list
    padding: 0;

a
    text-decoration: none;

.vb--logo-container
    background: linear-gradient(to right, hsla(0,0%,0%,0) 0%,hsla(340,81%,67%,0.65) 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;

    .logo
        z-index: 2;

    .list__tile__action
        z-index: 3;

    &:after
        background-image: url("../assets/nav-bg.png");
        background-size: cover;
        content: "";
        opacity: 0.75;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;

    .list a
        color: white!important;

.vb--logo-container .icon
    color: white!important;

    &:hover
        background: none;

.navigation-drawer > .list:not(.list--dense) .vb--logo-container .list__tile:hover
    background: none!important;

aside.navigation-drawer
    border-left: 4px solid #ED5A73;
    background: #151030!important;

    .list
        background: #151030!important;

        .icon, a
            color: #4F306C;

    .list .list__tile:hover
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(125,52,80,0.65) 100%)!important;

    .list a:hover .icon
        color: #BA6DDB;

    .list a:hover .list__tile__title
        color: white;

.router-link-active .list__tile
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(125,52,80,0.65) 100%)!important;
    color: white!important;

.router-link-active .icon
    color: #BA6DDB!important;

.toolbar
    border-bottom: 1px solid #d3d3d3;
    box-shadow: none;

.tabs__slider
    height: 4px;


.vb--logo-container
    //background: lightgreen;
    height: 64px;
    display: flex;

    .list__tile
        margin-top: 8px;

    .list__tile__content
        overflow: inherit;

    img
        margin-top: 4px;
        width: 100px;